.app-logo {
  display: flex;
  flex-direction: row;

  .app-logo-img {
    height: 70px;
    flex: 0 0 70px;
  }

  .app-logo-info {
    flex: 0 1 300px;
    margin-top: 20px;

    .app-logo-title {
      font-size: 18px;
      font-weight: bold;
      color: green;
    }

    .app-logo-description {
      font-size: 12px;
      color: #333;
    }
  }
}

.app-logo-small {
  display: flex;
  flex-direction: row;

  .app-logo-img {
    height: 30px;
    flex: 0 0 30px;
  }

  .app-logo-info {
    display: none;
  }
}